{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 border border-gray-200 rounded-lg">
    <h2 class="text-2xl font-bold mb-6">Editar Perfil</h2>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="space-y-4">
            {{ form.as_p }}
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white mt-6 py-2 rounded-full font-bold">
            Salvar Alterações
        </button>
    </form>
    <hr class="my-6">
    <a href="{% url 'posts:feed' %}" class="text-gray-500 hover:underline">Voltar para o Feed</a>
</div>

<style>
    input, textarea { width: 100%; border: 1px solid #e2e8f0; padding: 0.5rem; border-radius: 0.5rem; }
</style>
{% endblock %}